body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

.search input[type="text"],
.search button {
  padding: 6px 10px;
  font-size: 1rem;
  border: 1px solid #999;
}

.search > button {
  cursor: pointer;
  background: #e6e6e6;
  border-left: none;
}

.search > button:not(:disabled):hover {
  background: #f0f0f0;
}

#app {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1100px;
}

#app > div {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 5px;
}

#app > div > img {
  object-fit: cover;
  object-position: center;
  transform: scale(1);
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}

#app > div > img:hover {
  transform: scale(1.5);
  transition: all 0.3s ease;
}